:root {
  --content-width: 48rem;
  --backgroundColor: #000;
  --font: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-size: 1.5rem;
}

@custom-media --small-viewport (min-width: 480px);
@custom-media --wide-viewport (min-width: 960px);
@custom-media --huge-viewport (min-width: 1200px);
