@import '../../styles/base.css';

.Word {
  display: inline-block;
  margin: 0 1rem;
}

@media (--small-viewport) {
  .Word {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

@media (--wide-viewport) {
  .Word {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
}
